/******* GÉNÉRAL *******/

::-moz-selection {
    background: rgba($black, 0.99);
    color: $white;
    text-shadow: none;
    opacity: 0.99;
}

::selection {
    background: rgba($black, 0.99);
    color: $white;
    text-shadow: none;
}

html {
    height: 100%;
    /* sets the base font to 10px for easier math */
    font-size: 62.5%;
    background: $black;
}

body {
    height: 100%;
    color: $white;
    font: 1.2em / 1.5 $telegraf;
    font-kerning: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

b,
strong {
    font-weight: 500;
}

i {
    font-style: italic;
}

em {
    font-style: initial;
    font-weight: 500;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: $white;
}
