// SERIF
// [Your serif font name]
@font-face {
    font-family: 'Telegraf';
    src: local('Telegraf Regular'),
        url('~assets/fonts/Telegraf-Regular.woff2') format('woff2'),
        url('~assets/fonts/Telegraf-Regular.woff') format('woff');
    font-display: swap;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Telegraf';
    src: local('Telegraf SemiBold'),
        url('~assets/fonts/Telegraf-SemiBold.woff2') format('woff2'),
        url('~assets/fonts/Telegraf-SemiBold.woff') format('woff');
    font-display: swap;
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Telegraf';
    src: local('Telegraf UltraLight'),
        url('~assets/fonts/Telegraf-UltraLight.woff2') format('woff2'),
        url('~assets/fonts/Telegraf-UltraLight.woff') format('woff');
    font-display: swap;
    font-style: normal;
    font-weight: 200;
}
